.page {
  min-block-size: 100vh; /* 100dvb might have performance implications */
  min-inline-size: 100vw; /* 100dvi might have performance implications */
  overflow-x: hidden;

  /* Main is a grid item, so this affects overflow behaviour on components like tables. */
  main {
    display: grid;
    grid-template:
      "nav nav nav" auto
      "main main main" 1fr
      "footer footer footer" auto
      / minmax(1.5rem, 1fr) minmax(auto, var(--main-max-width))
      minmax(1.5rem, 1fr);
    width: 100%;

    article {
      /* Set explicit max-width for article content. */
      width: 100%;
      max-width: var(--article-max-width);
    }
  }
}

.page__sidebar {
  .sidebar {
    /* Set explicit flex-basis (width) for page sidebar. */
    --sidebar-width: 20rem;
  }
}
