@import "index.css";

/*
----------------------------------------------------------------------------
Base Styles under frontend-conf.fukuoka.com
----------------------------------------------------------------------------
*/
html {
  color-scheme: dark;
  scrollbar-color: var(--scrollbar-thumb-dark) var(--scrollbar-bg-dark);
}

::selection {
  color: var(--color-base-darkest);
  background-color: color-mix(in oklch, var(--color-conf-red), transparent 60%);
}
