---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="404 - ページが見つかりません" lang="ja">
  <div class="container">
    <div class="error-page">
      <h1>404</h1>
      <p>お探しのページが見つかりませんでした。</p>
      <a href="/" class="button">ホームに戻る</a>
    </div>
  </div>
</PageLayout>
