name: Lint

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: "22.21.1"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint:eslint

      - name: MD lint
        run: pnpm run lint:markdown

      - name: textlint
        run: pnpm run lint:text

      - name: Type Check
        run: pnpm run typecheck
