/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/
